.scrollToTop {
    position: fixed;
    bottom: var(--spacing-md);
    right: var(--spacing-md);
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    background-color: var(--btn-primary-bg);
    color: var(--text-primary);
    border: none;
    font-size: var(--text-md);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 var(--space-1) var(--space-3) rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
  
  .scrollToTop.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .scrollToTop:hover {
    background-color: var(--btn-primary-hover);
    transform: translateY(-3px);
    box-shadow: 0 var(--space-1) var(--spacing-xxs) rgba(0, 0, 0, 0.3);
  }