.bookingSection {
  padding: var(--spacing-xxxl) 0;
  background-color: var(--bg-primary);
}

.bookingContent {
  display: flex;
  max-width: var(--max-width-container);
  margin: 0 auto;
  background: var(--bg-tertiary);
  box-shadow: 0 var(--spacing-xxs) var(--spacing-md) rgba(0, 0, 0, 0.08);
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.bookingFormContainer {
  flex: 1;
  padding: var(--spacing-xxl);
}

.sectionTitle {
  font-size: var(--text-l);
  color: var(--text-secondary);
  margin-bottom: var(--spacing-xxs);
}

.sectionSubtitle {
  color: var(--text-ligher);
  margin-bottom: var(--spacing-xxl);
  font-size: var(--text-s);
}

.bookingForm {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
  gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.formGroup {
  flex: 1;
  position: relative;
}

.formGroup label {
  display: block;
  margin-bottom: var(--space-3);
  font-weight: 500;
  color: var(--text-dark);
  font-size: var(--text-xs);
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: var(--spacing-xxs) var(--spacing-xs);
  border: 0.063rem solid var(--bg-border-cards);
  border-radius: var(--radius-md);
  font-size: var(--text-xs);
  transition: all 0.3s ease;
  background-color: var(--bg-tertiary);
}

.formGroup input:focus,
.formGroup select:focus {
  outline: none;
  border-color: var(--btn-primary-hover);
  box-shadow: 0 0 0 3px rgba(179, 139, 88, 0.1);
}

.bookNowButton {
  background-color: var(--btn-primary-bg);
  color: var(--text-primary);
  border: none;
  padding: var(--spacing-xxs) var(--spacing-md);
  font-size: var(--text-xs);
  font-weight: 500;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: var(--spacing-xxs);
  width: 100%;
}

.bookNowButton:hover {
  background-color: var(--btn-primary-hover);
  transform: translateY(-2px);
}

.bookingImageContainer {
  flex: 1;
  position: relative;
  min-height: 25rem;
}

.bookingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .formRow {
    flex-direction: column;
    gap: var(--spacing-xx);
  }
  
  .sectionTitle {
    font-size: var(--text-md);
  }
}

@media (max-width: 992px) {
  .bookingContent {
    flex-direction: column;
  }
  
  .bookingImageContainer {
    min-height: 18.75rem;
    order: -1;
  }
  
  .bookingFormContainer {
    padding: var(--spacing-md);
  }
}